.footerContainer{
    text-align: center;
    text-shadow: 2px 1px 3px lightgreen, -2px -1px 3px red;
    font-size: 1em;
    color: lightgreen;
    width: 100%;
}

.footerContainer > div{
    margin-top:1%;
}
